<h1>
    Login Page
</h1>
<form action="/api/user/login" method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button>Login</button>
</form>
<ul>
    <li><a href="/api/user/">Home</a></li>
    <li><a href="/api/user/signup">SignUp</a></li>
</ul>